{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        {% for article in articles %}
            <div class="row">
                <div class="col-md-8">
                    <h1><a href="{{ path('blog.article.detail',{"id":article.id}) }}">{{ article.title }}<h1></h1>
                        </a></h1>
                    <p>{{ article.content | slice(0, 1000) }}...</p>
                    <div>
                        <span class="">Posted {{ article.createAt | date('d-m-Y h:i') }}</span>
                        <div class="pull-right"><span class="label">alice</span> <span class="label">story</span> <span
                                    class="label">blog</span> <span class="label">personal</span></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <img src="{{ article.image }}" alt="">
                </div>
            </div>
            <hr>

        {% endfor %}
    </div>

{% endblock %}