{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
    <div class="col-md-12">
        <h1>{{ article.title }}</h1>

        <div>
            <img src="{{ article.image }}" alt="">
        </div>

        <p>{{ article.content }}.</p>

        <p class="small">
            Posted {{ article.createAt|date("m/d/Y") }}
        </p>
    </div>

    <hr>
    <div class="row">
        <h4>comments</h4>
        {% for comment in comments %}

            <div class="card text-left">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{ comment.authorName }}</h4>
                    <p class="card-text">{{ comment.authorName }}</p>
                </div>
                <div class="card-footer">
                    {{ comment.createAt | date('D m y') }}
                </div>
            </div>



            {{ comment.content }}
        {% endfor %}
    </div>

    <div class="row">
        <div class="col">COMMENTS</div>
    </div>


    <hr>
    <p>add comment</p>

    {{ form(formComment) }}


{% endblock %}